@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  height: 100dvh;
  box-shadow: inset #ecf0f1 0 0 0 60px;
  background: url(/bg.svg) repeat #ecf0f1;
  overflow: hidden;
}

:root {
  --padding: 0px;
  --border-radius: 16px;
  --width: 400px;
  --height: 500px;
}

@media (max-width: 420px) {
  :root {
    --width: calc(400px * 0.7);
    --height: calc(500px * 0.7);
  }
}

/* if screen 1200 or more */
@media (min-width: 1200px) {
  :root {
    --width: calc(400px * 1.15);
    --height: calc(500px * 1.15);
  }
}

.layer {
  transform: perspective(1200px) rotateX(0deg) rotateY(0deg);
  will-change: transform;
}

.layer-masked {
  mask-size: var(--width) var(--height);
}

.frame {
  width: calc(var(--width) + var(--padding) * 2);
  height: calc(var(--height) + var(--padding) * 2);
  position: fixed;
  top: calc(50% - var(--height) / 2 - var(--padding));
  left: calc(50% - var(--width) / 2 - var(--padding));
}

img {
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: calc(var(--width) + var(--padding) * 2);
  height: calc(var(--height) + var(--padding) * 2);
}
